@use "../../theme.scss";

.edit_screen {
  display: flex;
  height: 100%;
}

%component{
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  width: 50%;
  overflow-y: scroll;
}

.markboard-preview {
  @extend %component;
  padding: .5em 1.5em;
}

.edit_component {
  @extend %component;
  padding: 1em;
  border: 0;
  outline: solid 2px #ccc;
  resize: none;
  transition: all 200ms ease-out;
  &:focus {
    background: #eee;
    outline: solid 2px theme.$primary-color;
  }
}

